body{
font-family: 'Montserrat', sans-serif;
margin: 0;
}

.hero-bg{
    background: #307D99 url('../assets/bg.jpg');
    text-align: center;
    color: white;
    padding-bottom: 4em;
}

header{
    padding: 1em 0;
}

.hero-bg a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

section{
    margin: 0 1em;
}

h1{
    font-size: 2.5rem;
    margin: 2em 0;
}

h1 span{
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    position: relative;
    z-index: 0;
}

h1 span::before{
    position: absolute;
    content: '';
    z-index: -1;
    width: 3em;
    height: 0.4em;
    background: #00bfff;
    bottom: 0;
    margin-left: -0.3em;
}

.hero-bg p {
    font-weight: bold;
    margin: 0 1em 3em;

}