body {
    font-family: "Scope One", serif;
    background-image: url("../assets/Canvas.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    margin: 0;
}

.window {
    background-color: white;
    margin: 15em 5em;
    border-radius: 2em;
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3,auto);
    grid-template-areas: 
    "sidebar picture content";
}

.sidebar {
    grid-area: sidebar;
    justify-self: center;
    position: absolute;
    width: 25%;
}

.sidebar h2 {
    font-size: 2em;
}

.man-picture {
grid-area: picture;
place-self: center;

}

.content {
grid-area: content;
justify-self: center;
position: absolute;
width: 25%;
}


ul li {
    list-style-type: none;
    font-size: 1.3em;
}
